<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.commands">
        <command id="org.cam.dbeaver.tabledef.excel.export" name="Exporting table definitions to Excel" description="Exporting table definitions to Excel" categoryId="org.jkiss.dbeaver.core.navigator"/>
    </extension>

    <extension point="org.eclipse.ui.commandImages">
        <image commandId="org.cam.dbeaver.tabledef.excel.export" icon="platform:/plugin/org.cam.dbeaver.tabledef.excel/icons/excel_icon.png"/>
    </extension>

    <extension point="org.eclipse.ui.handlers">
        <handler commandId="org.cam.dbeaver.tabledef.excel.export" class="org.cam.dbeaver.tabledef.excel.handler.ExcelExportHandler">
            <enabledWhen>
                <with variable="selection">
                    <count value="+"/>
                    <iterate operator="and">
                        <adapt type="org.jkiss.dbeaver.model.struct.DBSObject">
                            <instanceof value="org.jkiss.dbeaver.ext.cubrid.model.CubridDataSource"/>
                        </adapt>
                    </iterate>
                </with>
            </enabledWhen>
        </handler>
    </extension>

    <extension point="org.eclipse.ui.menus">
        <menuContribution allPopups="false" locationURI="popup:org.eclipse.ui.popup.any?after=object">
            <command commandId="org.cam.dbeaver.tabledef.excel.export">
                <visibleWhen checkEnabled="true"/>
            </command>
        </menuContribution>
    </extension>
</plugin>
